<mat-toolbar>
  <span>Pet</span>
  <span class="spacer"></span>
  <button class="toolbar-button" (click)="setLanguage('en')">{{ 'languages.english' | translate }}</button>
  <button class="toolbar-button" (click)="setLanguage('ru')"> {{ 'languages.russian' | translate }}</button>
</mat-toolbar>
