<div class="button-row">
  <button mat-flat-button color="primary"
          (click)="openRegistrationClientDialog()">{{'main.newClient' | translate}}</button>
</div>
<mat-divider></mat-divider>
<div class="button-row">
  <button mat-flat-button color="primary"
          (click)="openRegistrationVehicleDialog()">{{'main.newVehicle'| translate}}</button>
</div>
<mat-divider></mat-divider>

<div class="button-row">
  <button mat-flat-button color="primary" (click)="openClientList()">{{'main.listOfClients'| translate}}</button>
</div>
<mat-divider></mat-divider>
<div class="button-row">
  <button mat-flat-button color="primary" (click)="openVehicleList()">{{'main.listOfVehicles'| translate}}</button>
</div>
<mat-divider></mat-divider>

<div class="button-row">
  <button mat-flat-button color="primary"
          (click)="openCreateContractPage()">{{'main.createContract' | translate}}</button>
</div>
