<p>{{'confirmDialog.confirm' | translate}}</p>
<button mat-raised-button color="warn" (click)="deleteVehicle()">{{'button.yes' | translate}}</button>
<button mat-raised-button color="primary" (click)="closeConfirmDialog()">{{'button.no' | translate}}</button>
