<div class="registration-dialog-wrapper">
  <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
    <h2>{{'regAuto.title' | translate}}</h2>
    <mat-form-field>
      <mat-label>{{'regAuto.color'|translate}}</mat-label>
      <input matInput [formControl]="color">
      <mat-error *ngIf="color.hasError('required')">
        {{'error.required' | translate}}
      </mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>

    <mat-form-field>
      <mat-label>{{'regAuto.engineCapacity'|translate}}</mat-label>
      <input matInput [formControl]="engineCapacity">
      <mat-error *ngIf="engineCapacity.hasError('required')">
        {{'error.required' | translate}}
      </mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>

    <mat-form-field>
      <mat-label>{{'regAuto.yearOfManufacture' | translate}}</mat-label>
      <input type="date" matInput [formControl]="yearOfManufacture">
      <mat-error *ngIf="!yearOfManufacture.hasError('required')">
        {{'error.required' | translate}}
      </mat-error>
    </mat-form-field>

    <mat-divider></mat-divider>

    <mat-form-field>
      <mat-label>{{'regAuto.weight'|translate}}</mat-label>
      <input matInput [formControl]="weight">
      <mat-error *ngIf="!weight.hasError('required')">
        {{'error.required' | translate}}
      </mat-error>
    </mat-form-field>

    <mat-divider></mat-divider>

    <mat-form-field>
      <mat-label>{{'regAuto.regNumber'|translate}}</mat-label>
      <input matInput [formControl]="registrationNumber">
      <mat-error *ngIf="!weight.hasError('required')">
        {{'error.required' | translate}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{'regAuto.owner'|translate}}</mat-label>
      <mat-select (selectionChange)="getUserDetailsById($event)">
        <mat-option *ngFor="let owner of owners" [value]="owner.id">
          {{owner.lastName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>
  <button mat-raised-button color="primary" (click)="submitForm()" class="button"
          [disabled]="!registerForm.valid" type="button">{{'registration.bCreate'|translate}}
  </button>
</div>
