.mat-form-field {
  width: 280px;
}

.button {
  width: 280px;
  margin-top: 60px;
}

.registration-dialog-wrapper {
  padding: 0 40px;
  text-align: center;
}

.card {
  max-width: 800px;
  margin: 10px auto;
  text-align: center;
}
