<div *ngFor="let contract of listOfContracts">
  <mat-card class="card">
    <mat-card-content>
      <mat-card-header>{{'vehicle.regNumber' | translate}}</mat-card-header>
      <div>{{contract.vehicle.registerNumber}}</div>
      <mat-divider></mat-divider>
      <div *ngFor="let kit of contract.insuranceKits">
        {{'createKit.duration' | translate}}
        <p>
          <strong>{{kit.duration}}</strong>
        </p>
        {{'createKit.compensation' | translate}}
        <p>
          <strong>{{kit.compensationPercent}}</strong>
        </p>

        {{'createKit.damageLevel' | translate}}
        <p>
          <strong>{{kit.damageLevel}}</strong>
        </p>
        {{'createKit.partsOfVehicle' | translate}}
        <div *ngFor="let part of kit.partsOfVehicle">
          <i>{{'vehicle.part.' + part.vehiclePart | translate}}</i>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="listOfContracts.length === 0">
  <h1>{{'infMessage.noContracts' | translate}}</h1>
</div>
