<mat-card class="card">
  <mat-card-content *ngIf="vehicle">
<mat-card-header>{{'vehicle.auto' | translate}}</mat-card-header>
    <strong>{{'vehicle.id' | translate}}</strong>
    <p>{{vehicle.id}}</p>
    <strong>{{'vehicle.color' | translate}}</strong>
    <p>{{vehicle.color}}</p>
    <strong>{{'vehicle.engineCapacity' | translate}}</strong>
    <p>{{vehicle.engineCapacity}}</p>
    <strong>{{'vehicle.manufacture' | translate}}</strong>
    <p>{{vehicle.yearOfManufacture}}</p>
    <strong>{{'vehicle.weight' | translate}}</strong>
    <p>{{vehicle.weight}}</p>
    <strong>{{'vehicle.createdAt' | translate}}</strong>
    <p>{{vehicle.createdAt | date :'Y.MM.dd H:mm:ss'}}</p>
    <strong>{{'vehicle.updatedAt' | translate}}</strong>
    <p>{{vehicle.updatedAt | date :'Y.MM.dd H:mm:ss'}}</p>
    <strong>{{'vehicle.regNumber' | translate}}</strong>
    <p>{{vehicle.registerNumber}}</p>

    <div *ngIf="vehicle.owner; else noOwner">
      <strong> {{'vehicle.owner' | translate}}</strong>
      <p>{{vehicle.owner.lastName}}</p>
    </div>

    <ng-template #noOwner>
      <p>{{'infMessage.notOwner' | translate}}</p>
    </ng-template>
  </mat-card-content>
</mat-card>
