.mat-form-field {
  width: 280px;
}

.button {
  width: 280px;
  margin-top: 60px;
}

.registration-dialog-wrapper {
  padding: 0 40px;
  text-align: center;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: beige !important;
}

::ng-deep.mat-form-field-underline {
  background-color: green !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: green !important;
}
