<div class="registration-dialog-wrapper">
  <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
    <h2>{{'registration.title' | translate}}</h2>
    <mat-form-field>
      <mat-label>{{'registration.firstName'|translate}}</mat-label>
      <input matInput [formControl]="firstName">
      <mat-error *ngIf="firstName.hasError('required')">
        {{'error.required' | translate}}
      </mat-error>
      <mat-error *ngIf="firstName.hasError('minlength')">
        {{'error.minlenght'| translate}}
      </mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>

    <mat-form-field>
      <mat-label>{{'registration.lastName'|translate}}</mat-label>
      <input matInput [formControl]="lastName">
      <mat-error *ngIf="lastName.hasError('required')">
        {{'error.required' | translate}}
      </mat-error>
      <mat-error *ngIf="lastName.hasError('minlength')">
        {{'error.minLenght'|translate}}
      </mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>

    <mat-form-field>
      <mat-label>{{'registration.email'|translate}}</mat-label>
      <input type="email" matInput [formControl]="email" placeholder="ivan@ivanov.com">
      <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
        {{'error.email'|translate}}
      </mat-error>
      <mat-error *ngIf="email.hasError('required')">
        {{'error.required' | translate}}
      </mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>

    <mat-form-field>
      <mat-label>{{'registration.password'|translate}}</mat-label>
      <input matInput [formControl]="password" [type]="hidePassword ? 'password' : 'text'">
      <mat-error *ngIf="password.hasError('required')">
        {{'error.required' | translate}}
      </mat-error>
      <mat-error *ngIf="password.hasError('minlength')">
        {{'error.minLenght'|translate}}
      </mat-error>
      <button type="button" mat-icon-button matSuffix (click)="changePasswordVisibility()"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-divider></mat-divider>

    <mat-form-field>
      <mat-label>{{'registration.birthDate' | translate}}</mat-label>
      <input type="date" matInput [formControl]="birthDate" placeholder="date">
      <mat-error *ngIf="email.hasError('required')">
        {{'error.required' | translate}}
      </mat-error>
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" (click)="submitForm()" class="button"
          [disabled]="!registerForm.valid">{{'registration.bCreate'|translate}}
  </button>
</div>
