<div class="registration-dialog-wrapper">
  <form [formGroup]="registerForm">
    <h2>{{'createContract.title' | translate}}</h2>
    <mat-card class="card">

      <mat-form-field appearance="fill">
        <mat-label>{{'createContract.chooseVehicle' | translate}}</mat-label>
        <mat-select (selectionChange)="isButtonShow($event)">
          <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle"
                      (onSelectionChange)="getVehicleById(vehicle.id)"
                      class="{{vehicle.isContractExist ? 'red' : 'green'}}">
            {{vehicle.registerNumber}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-divider></mat-divider>
      <button mat-raised-button color="primary" type="button" (click)="openRCreateKitDialog()"
              class="button" [disabled]="isDisabled">{{'createContract.createKitBtn'|translate}}
      </button>

      <mat-divider></mat-divider>
      <button mat-raised-button color="primary" class="button" (click)="registrationContract()"
              [disabled]="isCreateButtonDisable()" type="button">{{'createContract.createContractBtn'|translate}}
      </button>
    </mat-card>
  </form>
</div>

<div *ngFor="let kit of nestedInsuranceKits">
  <mat-card class="card">
    <mat-card-content>
      <strong>{{'createKit.partsOfVehicle' | translate}}</strong>
      <div *ngFor="let part of kit.partsOfVehicle">
        <i>{{'vehicle.part.' + part.vehiclePart | translate}}</i>
      </div>
      <strong>{{'createKit.compensation' | translate}}</strong>
      <p>{{kit.compensationPercent}}</p>
      <strong>{{'createKit.damageLevel' | translate}}</strong>
      <p>{{'damageLevel.' + kit.damageLevel | translate}}</p>
      <strong>{{'createKit.duration' | translate}}</strong>
      <p>{{kit.duration | date}}</p>
      <button type="button" (click)="deleteInsuranceKit(kit)">{{'createKit.deleteKit' | translate}}</button>
    </mat-card-content>
  </mat-card>
</div>


