<mat-card class="card">
  <mat-card-content *ngIf="client">
    <strong>{{'user.id' | translate}}</strong>
    <p>{{client.id}}</p>
    <strong>{{'user.email' | translate}}</strong>
    <p>{{client.email}}</p>
    <strong>{{'user.password' | translate}}</strong>
    <p>{{client.password | translate}} </p>
    <strong>{{'user.firstName' | translate}}</strong>
    <p>{{client.firstName}}</p>
    <strong>{{'user.lastName' | translate}}</strong>
    <p>{{client.lastName}}</p>
    <strong>{{'user.birthDate' | translate}} </strong>
    <p>{{client.birthDate | date : 'Y.MM.dd'}}</p>
    <strong>{{'user.createdAt' | translate}}</strong>
    <p>{{client.createdAt | date :'Y.MM.dd H:mm:ss'}}</p>
    <strong>{{'user.updatedAt' | translate}}</strong>
    <p>{{client.updatedAt | date :'Y.MM.dd H:mm:ss'}}</p>
    <button mat-raised-button color="primary" (click)="showContractsOfClient()">{{'button.showContracts' | translate}}</button>
    <button mat-raised-button color="primary" (click)="showClientUpdateDialog()">{{'button.updateUser' | translate}}</button>
  </mat-card-content>
</mat-card>
