<div class="registration-dialog-wrapper">
  <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
    <h2>{{'registration.title' | translate}}</h2>

    <mat-form-field>
      <mat-label>{{'registration.firstName'|translate}}</mat-label>
      <input matInput [formControl]="firstName">
      <mat-error *ngIf="firstName.hasError('required')">
        {{'error.required' | translate}}
      </mat-error>
      <mat-error *ngIf="firstName.hasError('minlength')">
        {{'error.minlenght'| translate}}
      </mat-error>
    </mat-form-field>

    <mat-divider></mat-divider>

    <mat-form-field>
      <mat-label>{{'registration.lastName'|translate}}</mat-label>
      <input matInput [formControl]="lastName" [defaultValue]="updatedUser.lastName">
      <mat-error *ngIf="lastName.hasError('required')">
        {{'error.required' | translate}}
      </mat-error>
      <mat-error *ngIf="lastName.hasError('minlength')">
        {{'error.minLenght'|translate}}
      </mat-error>
    </mat-form-field>

    <mat-divider></mat-divider>

    <mat-form-field>
      <mat-label>{{'registration.birthDate' | translate}}</mat-label>
      <input type="date" matInput [formControl]="birthDate" placeholder="date">
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" (click)="submitForm()" class="button"
          [disabled]="!registerForm.valid">{{'button.updateUser'|translate}}
  </button>
</div>
