<div class="registration-dialog-wrapper">
  <form [formGroup]="createKitForm">
    <mat-form-field>
      <mat-label>{{'regAuto.engineCapacity'|translate}}</mat-label>
      <input matInput type="date" [formControl]="durationControl">
    </mat-form-field>

    <mat-divider></mat-divider>

    <mat-form-field>
      <mat-label>{{'createKit.compensation'|translate}}</mat-label>
      <input matInput autocomplete="off" [formControl]="percentControl">
    </mat-form-field>

    <mat-divider></mat-divider>

    <mat-form-field appearance="fill">
      <mat-label>{{'createKit.damageLevel' | translate}}</mat-label>
      <mat-select [formControl]="damageLevelControl" required>
        <mat-option *ngFor="let level of damageLevels" [value]="level">
          {{'damageLevel.' +  level | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{'createKit.partsOfVehicle' | translate}}</mat-label>
      <mat-select multiple [formControl]="partOfVehiclesControl" required>
        <mat-option *ngFor="let part of partsOfVehicle" [value]="part">
          {{'vehicle.part.' + part | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button mat-dialog-close color="primary" (click)="addInsuranceKit()" class="button"
            [disabled]="!createKitForm.valid">{{'createKit.addToContractBtn'|translate}}
    </button>
  </form>
</div>
