<div *ngFor="let vehicle of dataService.vehicles">
  <mat-card class="card">
    <mat-card-content (click)="showVehicleDetails(vehicle.id)">
      <strong>{{'vehicle.regNumber' | translate}}</strong>
      <p>{{vehicle.registerNumber}}</p>
    </mat-card-content>
    <button mat-raised-button color="primary" (click)="openDeleteDialog(vehicle.id)">{{'button.delete' | translate}}</button>
  </mat-card>
</div>
