<mat-paginator [pageSizeOptions]="[10, 25, 100]"
               [pageSize]="pageSize"
               [pageIndex]="currentPage"
               (page)="getClientsBasicModelWithPagination($event)"
               [length]="totalElements">

</mat-paginator>
<mat-divider></mat-divider>

<div class="background-color">
  <mat-form-field class="input-form input-center" appearance="fill">
    <mat-label>{{'infMessage.search' | translate}}</mat-label>
    <input matInput type="text" (input)="filtering($event)" [(ngModel)]="filter" autocomplete="off">
    <button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear" (click)="clearInput()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<div>
  <mat-table class="mat-elevation-z8 table-wrapper table" [dataSource]="dataSource" matSort
             (matSortChange)="setDirection($event)">

    <ng-container matColumnDef="email">
      <th *matHeaderCellDef mat-sort-header (click)="setSort(emailParam)">{{'user.email' | translate}}</th>
      <td *matCellDef="let client" (click)="showClientDetails(client.id)">
        {{client.email}}
      </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th *matHeaderCellDef mat-sort-header (click)="setSort(lastNameParam)"
          class="lastname">{{'user.lastName' | translate}}</th>
      <td *matCellDef="let client" class="lastname">{{client.lastName}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </mat-table>
</div>
