.table {
  width: 40%;
  border: 3px solid green;
  margin: 0 auto;
  text-align: center;
  border-collapse: separate;
}

td {
  width: 32%;
}

th {
  text-align: center;
}

.input-form {
  width: 200px;
  align-items: center;
  justify-content: center
}

.background-color {
  background-color: #424242;
}

.mat-focused {
  color: beige;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: beige !important;
}

::ng-deep.mat-form-field-underline {
  background-color: green !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: green !important;
}

.table-wrapper td {
  margin: auto;
  color: beige;
  text-align: center;
}

.table-wrapper th {
  padding-left: 180px;
  margin: auto;
  color: beige;
  text-align: center;
}

.input-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

